/* Primitive Tokens */
$gray-100: #f6f8fa;
$gray-200: #eaeef2;
$gray-300: #d0d7de;
$gray-400: #afb8c1;
$gray-500: #8c959f;
$gray-600: #6e7781;
$gray-700: #57606a;
$gray-800: #424a53;
$gray-900: #32383f;

$blue-100: #80ccff;
$blue-200: #54aeff;
$blue-300: #218bff;
$blue-400: #0969da;
$blue-500: #0550ae;
$blue-600: #033d8b;
$blue-700: #0a3069;
$blue-800: #002155;
